.vscode/settings.json
.ipynb_checkpoints/*
.pytest_cache/*
.vscode/*

venv/*
docs/*
examples/*

dist/*
flyingfish.egg-info/*

flyingfish/__pycache__/*
tests/__pycache__/*

hmpy/__pycache__/*
hmpy/main.py
hmpy/other.py

todo.md
hmpy/plot.py
hmpy/write_report.py
